.name{
  padding-top: 50px;
  font-size: medium;
}
h1{
  font-family: 'Acme', sans-serif;
  }
.custom{
  color:bisque
}
.section{
  padding-top: 86px;
}
@media only screen and (max-width: 420px) {
  .section{
    padding-top: 36px;
  }
  }
